@if (demand) {
  <input [(ngModel)]="demand.title">

  <textarea [(ngModel)]="demand.description"></textarea>

  <select
    id="demand_status"
    [(ngModel)]="demand.status">

    @for (status of statusDisponiveis; track status.value) {
      <option [ngValue]="status.value">
        {{ status.name }}
      </option>
    }
  </select>

  <select
    id="user"
    [(ngModel)]="demand.user_id"
    (click)="carregarUsuarios()">

    <option [ngValue]="null">
      Nenhum usuário atribuído
    </option>

    @if (carregandoUsuarios) {
      <option disabled>
        Carregando usuários...
      </option>
    }

    @for (user of users; track user.user_id) {
      <option [ngValue]="user.user_id">
        {{ user.user_name }}
      </option>
    }
  </select>
}
