<section class="menu-demandas">

  <button (click)="abrirJanelaCriar()">
    Criar
  </button>

</section>

<section class="tabela-demandas">

  <p>DEMANDAS: {{ demands.length }}</p>

  @if (demands.length === 0) {

    <div>Nenhuma demanda encontrada.</div>

  } @else {

    <table>

      <thead>
      <tr>
        <th>Código</th>
        <th>Título</th>
        <th>Usuário</th>
        <th>Status</th>
        <th>Criado</th>
        <th>Tempo gasto</th>
      </tr>
      </thead>

      <tbody>

        @for (d of demands; track d.public_id) {

          <tr
            (click)="editarDemanda(d.public_id)"
            class="linha-demanda"
          >
            <td>{{ d.public_code }}</td>
            <td>{{ d.title }}</td>
            <td>{{ d.user_name ?? 'Nenhum usuário atribuído' }}</td>
            <td>{{ d.status ?? '-' }}</td>
            <td>{{ d.create_time | date: 'dd/MM/yyyy HH:mm' }}</td>
            <td>{{ calcularTempoGasto(d) }}</td>
          </tr>

        }

      </tbody>

    </table>

  }

</section>
